@import "tailwindcss";

@theme {
  --color-cyber-darkest: #030305;
  --color-cyber-dark: #0a0a0f;
  --color-cyber-gray: #12121a;
  --color-cyber-blue: #00f3ff; /* Neon Blue mais forte */
  --color-cyber-red: #ff0055;   /* Neon Red mais vibrante */
  --color-cyber-green: #00ff9f; /* Neon Green */
  --color-cyber-purple: #bc13fe; /* Nova cor: Roxo Neon */
}

:root {
  --background: #030305;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Efeito de Grade no Fundo */
  background-image: 
    linear-gradient(rgba(0, 243, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 243, 255, 0.03) 1px, transparent 1px);
  background-size: 30px 30px;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: #00f3ff;
  border-radius: 4px;
}